# Libraries

In [8]:
%run common.ipy

In [5]:
%ls

Main Notebook.ipynb  common.ipy
README.md            datasets/

In [6]:
%ls datasets/

Book3.csv                  data.csv
Canada.xlsx                headbrain.csv
Cartwheeldata.csv          mic2.xlsx
adult.csv                  movies.csv
airline_data.csv           nhanes_2015_2016.csv
antropometria-dataset.csv  pokemon.csv
antropometria00.csv        reg_data.csv
census.csv                 sample_pivot.csv
coches.csv                 tips.csv
cwurData.csv               weight-height.csv

# Variables Types

In [9]:
type(math.pi)

float

In [10]:
type(-3)

int

# Lists

In [11]:
numbers=[math.pi,3/14,3/15]

In [14]:
type(numbers)

list

In [16]:
print(*numbers)

3.141592653589793 0.21428571428571427 0.2

In [19]:
for i in numbers:
    print(i,'\t',type(i))

3.141592653589793 	 <class 'float'>
0.21428571428571427 	 <class 'float'>
0.2 	 <class 'float'>

In [20]:
len(numbers)

3

In [24]:
sum(numbers)

3.5558783678755077

In [25]:
sum(numbers)/len(numbers)

1.185292789291836

In [27]:
3**10

59049

In [28]:
6*10**(-1)

0.6000000000000001

# Variable Types

1. Numerical 
2. Categorical

In [30]:
'2012'*2

'20122012'

In [31]:
'*'*115

'*******************************************************************************************************************'

In [35]:
x=5
y=7

if x<y:
    print('{} is less than {}'.format(x,y))
else:
    print('{} is greater than {}'.format(x,y))

5 is less than 7

In [36]:
boolist=[True,6<10,1==3,None is None]

In [37]:
for i in boolist:
    print(i,'\t',type(i))

True 	 <class 'bool'>
True 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

# Sorting

In [51]:
alist=['d','a','b','h'];alist

['d', 'a', 'b', 'h']

In [52]:
alist.sort()
print(*alist)

a b d h

In [53]:
alist[0:]

['a', 'b', 'd', 'h']

In [54]:
#last element
alist[-1]

'h'

In [55]:
alist[-3:]

['b', 'd', 'h']

# Datasets

In [58]:
df=pd.read_csv('datasets/Cartwheeldata.csv')

In [60]:
df.head(4)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10

In [63]:
x=df.columns.tolist()

In [71]:
x[8]

'CWDistance'

In [64]:
type(x)

list

loc vs.iloc

loc 
    df.loc[rowstar:rowend,columnstar:columnend] you need to use id names
    
iloc 
    df.iloc[rowstar:rowend,columnstar:columnend] you need to use id indices

In [73]:
df.loc[:,'CWDistance'].head(2)

0    79
1    70
Name: CWDistance, dtype: int64

In [74]:
df.iloc[:,8].head(2)

0    79
1    70
Name: CWDistance, dtype: int64

In [80]:
df.iloc[:,-4:-3].head(3)

   CWDistance
0          79
1          70
2          85

In [81]:
x

['ID',
 'Age',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'Wingspan',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Score']

In [84]:
df.loc[:2,['Complete',
 'CompleteGroup',
 'Score']]

  Complete  CompleteGroup  Score
0        Y              1      7
1        Y              1      8
2        Y              1      7

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             25 non-null     int64
 1   Age            25 non-null     int64
 2   Gender         25 non-null     object
 3   GenderGroup    25 non-null     int64
 4   Glasses        25 non-null     object
 5   GlassesGroup   25 non-null     int64
 6   Height         25 non-null     float64
 7   Wingspan       25 non-null     float64
 8   CWDistance     25 non-null     int64
 9   Complete       25 non-null     object
 10  CompleteGroup  25 non-null     int64
 11  Score          25 non-null     int64
dtypes: float64(2), int64(7), object(3)
memory usage: 2.5+ KB

In [87]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [88]:
df['Height'].unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [89]:
df.groupby(['Gender','GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64

In [93]:
df[['Gender','GenderGroup']].value_counts()

Gender  GenderGroup
M       2              13
F       1              12
dtype: int64